[submodule "themes/hugo-natrium-theme"]
	path = themes/hugo-natrium-theme
	url = git@github.com:mobybit/hugo-natrium-theme.git
[submodule "themes/harbor"]
	path = themes/harbor
	url = https://github.com/matsuyoshi30/harbor/
